.formacao-body {
    background: rgb(29, 29, 29);
}

.formacao {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 60px 20px;
    background: rgb(29, 29, 29);
    gap: 100px;
}

.formacao-texto {
    font-size: 8rem;
    word-break: break-all;
}

.formacao-description {
    max-width: 550px;
    margin-bottom: 50px;
    font-size: 1.6rem;
    line-height: 1.2;
    color: rgb(136, 132, 132);
}

.formacao-description span {
    color: white;
}

.formacao-formacoes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
    gap: 8px;
}

.formacao-formacoes li {
    background: black;
    color: white;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    padding: 20px;
    display: grid;

}

.formacao-formacoes li::before {
    content: "";
    width: 4px;
    height: 24px;
    background: linear-gradient(to bottom, rgb(125, 255, 125), rgb(67, 204, 67));
    position: absolute;
    left: -4px;
    top: 50px;
}

.formacao-formacoes li h3 {
    font-size: 0.9rem;
    font-weight: lighter;
    color: rgb(172, 172, 172);
    margin-bottom: 10px;
}

.formacao-formacoes li h2 {
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: 40px;
}

.formacao-formacoes li p {
    color: rgb(172, 172, 172);
    align-self: end;
}

.formacao-cursos-intensivos {
    margin-bottom: 48px;
    position: relative;
}

.formacao-cursos-intensivos h3 {
    color: rgb(172, 172, 172);
    margin-bottom: 24px;
    font-size: 0.90rem;
}

.formacao-cursos-intensivos div {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 12px;
    font-size: 1.1rem;
    gap: 16px;
}

.formacao-cursos-intensivos div p:last-child {
    color: rgb(172, 172, 172);
}

.formacao-idiomas {
    margin-bottom: 24px;
    position: relative;
}

.formacao-idiomas span {
    color: rgb(172, 172, 172);
}

.formacao-idiomas h3 {
    color: rgb(172, 172, 172);
    font-size: 0.90rem;
    margin-bottom: 24px;
}

.formacao-idiomas p {
    color: white;
    margin-bottom: 12px;
    font-size: 1.1rem;
}

.formacao-cursos-intensivos img,
.formacao-idiomas img {
    position: absolute;
    left: -36px;
    top: -5px;
}


@media(max-width: 800px) {
    .formacao {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .formacao-texto {
        font-size: 3rem;
        color: white;
        text-transform: lowercase;
    }
    .formacao-description {
        font-size: 1.3rem;
        max-width: 450px;
    }
    .formacao-cursos-intensivos {
        margin-bottom: 96px;
    }
    .formacao-cursos-intensivos img,
    .formacao-idiomas img {
        left: 0px;
        top: -32px;
    }
}