.section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    gap: 100px;
}

.section-1 {
    font-size: 7rem;
    word-break: break-all;
    color: #d7d7d7;
}

.section-2-1 {
    font-size: 1.5rem;
    margin-bottom: 60px;
    color: rgba(0, 0, 0, 0.7);
}


@media(max-width: 800px) {
    .section {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .section-1 {
        font-size: 2.3rem;
        color: black;
        text-transform: lowercase;
    }
    .section-2-1 {
        margin-right: 250px;
        font-size: 1.3rem;
    }
}

.section-2-1 span {
    font-weight: bold;
}

.section-2-2,
.section-2-3,
.section-2-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #f7f7f7;
    margin-bottom: 20px;
    padding: 20px;
    gap: 8px;
    column-gap: 16px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.95rem;
    position: relative;
}

.section-2 ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-content: start;
}

.section-2 ul li {
    background: white;
    padding: 8px;
    border-radius: 4px;
}

.section-2-2::after,
.section-2-3::after,
.section-2-4::after {
    content: "";
    width: 4px;
    height: 24px;
    background: linear-gradient(to bottom, rgb(125, 255, 125), rgb(67, 204, 67));
    position: absolute;
    left: -4px;
    top: 16px;
}
